# Airbnb Berlin Price Prediction 
---

## *Table of Contents*
- [Import data](#importdata)
- [Import data](#importdata)
- [Exploratory Data Analysis](#eda)
- [Preprocessing](#preprocessing)
- [Modeling](#modeling)

<a name="importdata">
    
## Import Data

In [8]:
import pandas as pd
import numpy as np

#
import matplotlib.pyplot as plt

#
from sklearn.model_selection import train_test_split

import os

### Import data

In [9]:
data_dir = "data"
train_file = "train_airbnb_berlin.csv"
test_file = "test_airbnb_berlin.csv"

In [10]:
trainset = pd.read_csv(os.path.join(data_dir,train_file))
X_train = trainset.drop("Price", axis=1)
y_train = trainset["Price"]

In [19]:
pd.set_option('display.max_columns', 40)

In [ ]:
Listing ID,Listing Name,Host ID,Host Name,City,Country Code,Country

Square Feet

In [24]:
X_train["Is Exact Location"].value_counts()

t    11596
f     4096
Name: Is Exact Location, dtype: int64

In [20]:
X_train.head()

,Listing ID,Listing Name,Host ID,Host Name,Host Since,Host Response Time,Host Response Rate,Is Superhost,neighbourhood,Neighborhood Group,City,Postal Code,Country Code,Country,Latitude,Longitude,Is Exact Location,Property Type,Room Type,Accomodates,Bathrooms,Bedrooms,Beds,Square Feet,Guests Included,Min Nights,Reviews,First Review,Last Review,Overall Rating,Accuracy Rating,Cleanliness Rating,Checkin Rating,Communication Rating,Location Rating,Value Rating,Instant Bookable,Business Travel Ready,Host Since date
0,19665213.0,*,156079597.0,Maximilian,2016-01-20,NaN,NaN,f,Prenzlauer Berg,Pankow,Berlin,10437.0,DE,Germany,52.54652,13.41792,t,Apartment,Private room,2,1.0,1.0,1.0,NaN,1,2,6,2017-07-07,2017-08-08,100.0,10.0,10.0,10.0,10.0,9.0,10.0,t,f,2016-01-20
1,6436842.0,*,5302290.0,Dulie,2013-04-07,NaN,NaN,f,Pankow,Pankow,Berlin,13187.0,DE,Germany,52.56512,13.42214,t,Apartment,Entire home/apt,2,1.0,2.0,2.0,NaN,2,7,6,2015-05-26,2019-04-30,90.0,9.0,9.0,10.0,10.0,9.0,10.0,f,f,2013-04-07
2,10559468.0,*,59151456.0,Geank,2016-02-07,NaN,NaN,f,Prenzlauer Berg,Pankow,Berlin,10439.0,DE,Germany,52.54741,13.42521,t,Apartment,Entire home/apt,3,1.0,1.0,2.0,NaN,1,1,2,2016-04-19,2016-07-04,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f,f,2016-02-07
3,27215482.0,*,193452785.0,Alix,2018-06-26,NaN,NaN,f,Friedrichshain,Friedrichshain-Kreuzberg,Berlin,10245,DE,Germany,52.50958,13.45144,t,Apartment,Private room,2,1.0,1.0,1.0,NaN,1,2,4,2018-07-31,2018-08-12,100.0,10.0,10.0,10.0,10.0,10.0,9.0,f,f,2018-06-26
4,27287546.0,*,205870244.0,Lurina,2013-05-16,within a few hours,92%,t,Prenzlauer Berg,Pankow,Berlin,10405.0,DE,Germany,52.52995,13.41558,t,Apartment,Private room,3,1.0,1.0,2.0,NaN,1,6,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,t,f,2013-05-16

On enleve les variables:
- ID/Name:  
Listing ID,Listing Name,Host ID,Host Name  
  
- Une seule valeur possible:  
City,Country Code,Country  
   
- Trop de valeurs manquantes:   
square_feet

In [27]:


l = [, , , , ,
       ]
print(len(l))

30

In [31]:
trainset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15692 entries, 0 to 15691
Data columns (total 41 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Listing ID             15691 non-null  float64
 1   Listing Name           15638 non-null  object
 2   Host ID                15692 non-null  float64
 3   Host Name              15670 non-null  object
 4   Host Since             15671 non-null  object
 5   Host Response Time     8617 non-null   object
 6   Host Response Rate     8617 non-null   object
 7   Is Superhost           15669 non-null  object
 8   neighbourhood          15692 non-null  object
 9   Neighborhood Group     15692 non-null  object
 10  City                   15691 non-null  object
 11  Postal Code            15463 non-null  object
 12  Country Code           15692 non-null  object
 13  Country                15692 non-null  object
 14  Latitude               15692 non-null  float64
 15  Longitude              15692 non-null  float64
 16  Is Exact Location      15692 non-null  object
 17  Property Type          15692 non-null  object
 18  Room Type              15692 non-null  object
 19  Accomodates            15692 non-null  object
 20  Bathrooms              15678 non-null  object
 21  Bedrooms               15687 non-null  object
 22  Beds                   15684 non-null  object
 23  Square Feet            303 non-null    float64
 24  Guests Included        15692 non-null  object
 25  Min Nights             15692 non-null  object
 26  Reviews                15692 non-null  int64
 27  First Review           12987 non-null  object
 28  Last Review            12986 non-null  object
 29  Overall Rating         12730 non-null  float64
 30  Accuracy Rating        12721 non-null  float64
 31  Cleanliness Rating     12722 non-null  float64
 32  Checkin Rating         12719 non-null  float64
 33  Communication Rating   12722 non-null  float64
 34  Location Rating        12721 non-null  float64
 35  Value Rating           12720 non-null  float64
 36  Instant Bookable       15692 non-null  object
 37  Business Travel Ready  15692 non-null  object
 38  Price                  15683 non-null  float64
 39  Host Since date        15671 non-null  datetime64[ns]
 40  Host Since date year   15671 non-null  float64
dtypes: datetime64[ns](1), float64(14), int64(1), object(25)
memory usage: 4.9+ MB

In [13]:
X_train.columns

Index(['Listing ID', 'Listing Name', 'Host ID', 'Host Name', 'Host Since',
       'Host Response Time', 'Host Response Rate', 'Is Superhost',
       'neighbourhood', 'Neighborhood Group', 'City', 'Postal Code',
       'Country Code', 'Country', 'Latitude', 'Longitude', 'Is Exact Location',
       'Property Type', 'Room Type', 'Accomodates', 'Bathrooms', 'Bedrooms',
       'Beds', 'Square Feet', 'Guests Included', 'Min Nights', 'Reviews',
       'First Review', 'Last Review', 'Overall Rating', 'Accuracy Rating',
       'Cleanliness Rating', 'Checkin Rating', 'Communication Rating',
       'Location Rating', 'Value Rating', 'Instant Bookable',
       'Business Travel Ready'],
      dtype='object')

In [14]:
X_train.describe()

,Listing ID,Host ID,Latitude,Longitude,Square Feet,Reviews,Overall Rating,Accuracy Rating,Cleanliness Rating,Checkin Rating,Communication Rating,Location Rating,Value Rating
count,1.569100e+04,1.569200e+04,15692.000000,15692.000000,303.000000,15692.000000,12730.000000,12721.000000,12722.000000,12719.000000,12722.000000,12721.000000,12720.000000
mean,1.780062e+07,6.119042e+07,52.509893,13.407334,445.900990,19.452014,94.717282,9.717475,9.328407,9.769164,9.779201,9.556874,9.458097
std,9.952544e+06,6.739421e+07,0.031286,0.058646,414.817342,39.483853,7.069787,0.671793,1.023807,0.620347,0.619545,0.731109,0.788891
min,2.241500e+04,1.101500e+04,52.369270,13.121400,0.000000,0.000000,20.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
25%,9.052831e+06,9.274528e+06,52.488920,13.376025,0.000000,1.000000,93.000000,10.000000,9.000000,10.000000,10.000000,9.000000,9.000000
50%,1.865037e+07,3.358182e+07,52.509100,13.417250,440.000000,5.000000,97.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
75%,2.611308e+07,9.325677e+07,52.532713,13.439750,700.000000,17.000000,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
max,3.467450e+07,2.609698e+08,52.639670,13.709020,1912.000000,424.000000,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000

In [ ]:
# Il y a-t-il un sens à regarder depuis quand le propriétaire existe sur airbnb ?
# Hyp: Un propriétaire récent pourrait surévaluer ou sous-évaluer (plus probable) la valeur de son bien

In [15]:
X_train["Host Since date"] = pd.to_datetime(X_train["Host Since"])

In [18]:
trainset["Host Since date"] = pd.to_datetime(trainset["Host Since"])
trainset["Host Since date year"] = trainset["Host Since date"].dt.year